Description = Test Service by techken.in
After=network-online.target
 
[Service]
ExecStart = java -jar "/opt/swarm/customerAPI/customerAPI-swarm.jar"
 
[Install]
WantedBy = multi-user.target